Họ và tên: Lê Hoàng Anh Đức Lớp: DSEB 63 ID: 11219268

Pandas series

In [1]:
import pandas as pd

In [2]:
#1 tạo series
Values = [6, 2, 9, 1, 4, 8, 3, 5, 7]
series=pd.Series(Values)
series

0    6
1    2
2    9
3    1
4    4
5    8
6    3
7    5
8    7
dtype: int64

In [3]:
#2 tạo và thay đổi định dạng value
series=pd.Series(Values,dtype='float64')
series

0    6.0
1    2.0
2    9.0
3    1.0
4    4.0
5    8.0
6    3.0
7    5.0
8    7.0
dtype: float64

In [4]:
#3 tạo narray
import numpy as np
array = np.array(Values)
array

array([6, 2, 9, 1, 4, 8, 3, 5, 7])

In [5]:
#4 test type
type(array)

numpy.ndarray

In [6]:
#5 assign index to serries
index = series.index
index

RangeIndex(start=0, stop=9, step=1)

In [7]:
#6 Slicing series
my_slice = series[1:8]
my_slice

1    2.0
2    9.0
3    1.0
4    4.0
5    8.0
6    3.0
7    5.0
dtype: float64

In [8]:
#7 Slicing series 2
my_slice2 = series[1:8:2]
my_slice2

1    2.0
3    1.0
5    8.0
7    5.0
dtype: float64

In [9]:
#8
series = pd.Series([28, 9, 82, 38, 44, 55, 23, 7, 64, 59, 5, 76, 12, 89, 50, 25, 33, 45, 93, 60, 72, 21,
89, 86, 26])
#1) 
first = series[0]
#2)
last = series[len(series)-1]
#3) 
middle = series[(len(series)+1)//2]
#4)
seventeenth = series[7-1]
#5)
second_to_last = series[len(series)-2]

In [10]:
#9
series = pd.Series([4,6,1,7],index = ['a','b','c','d'])
series

a    4
b    6
c    1
d    7
dtype: int64

In [11]:
#10
import string
index = string.ascii_uppercase
alphabet = pd.Series(np.arange(26),index=list(index))
alphabet

A     0
B     1
C     2
D     3
E     4
F     5
G     6
H     7
I     8
J     9
K    10
L    11
M    12
N    13
O    14
P    15
Q    16
R    17
S    18
T    19
U    20
V    21
W    22
X    23
Y    24
Z    25
dtype: int32

In [12]:
#11 indexing from 1 to its length
series = [10,9,6,3,0,1,2]
series = pd.Series(series, index = np.arange(1,len(series)+1))
series

1    10
2     9
3     6
4     3
5     0
6     1
7     2
dtype: int64

In [13]:
#12 ADD ROW by reindex
populations = {
    'Cairo': 11001000,
    'Johannesburg': 3670000,
    'Dakar': 2863000,
    'Casablanca': 3284000,'Lagos': 10578000
}
series_pop = pd.Series(populations)
new_index =     ['Cairo','Johannesburg','Dakar','Casablanca','Lagos','Luanda']
series_pop.reindex = new_index
series_pop['Luanda'] = 4772000
series_pop

Cairo           11001000
Johannesburg     3670000
Dakar            2863000
Casablanca       3284000
Lagos           10578000
Luanda           4772000
dtype: int64

In [14]:
#13 DROP row
series_pop=series_pop.drop('Luanda')
series_pop

Cairo           11001000
Johannesburg     3670000
Dakar            2863000
Casablanca       3284000
Lagos           10578000
dtype: int64

In [15]:
#14 
series_pop=series_pop.drop(['Cairo','Dakar'])
series_pop

Johannesburg     3670000
Casablanca       3284000
Lagos           10578000
dtype: int64

In [16]:
#15 Slicing with alphabet index
Values = [6, 2, 9, 1, 4, 8, 3, 5, 7]
series=pd.Series(Values,index = list(string.ascii_lowercase[:9]))
my_slice=series['d':'g']
my_slice

d    1
e    4
f    8
g    3
dtype: int64

In [17]:
#16 Slicing with alphabet index
my_slice=series[::2]
my_slice

a    6
c    9
e    4
g    3
i    7
dtype: int64

Creating and Manipulating DF

In [18]:
#1 tạo dataframe
women = {'Hong Kong': 87.6,
        'Japan': 87.5,
        'Switzerland': 85.5,
        'Singapore': 85.7,
        'Italy': 85.4,
        'Spain': 86.1,
        'Australia': 85.3,
        'Iceland': 84.4,
        'Israel': 84.4,
        'South Korea': 85.8
        }
men = { 'Hong Kong': 81.8,
        'Japan': 81.3,
        'Switzerland': 81.7,
        'Singapore': 81.4,
        'Italy': 81.1,
        'Spain': 80.7,
        'Australia': 81.3,
        'Iceland': 81.3,
        'Israel': 81.1,
        'South Korea': 79.7
        }

In [19]:
import pandas as pd
import numpy as np

In [20]:
li={'Women':pd.Series(women),'Men':pd.Series(men)}
life_exp_top10 = pd.DataFrame(li)
life_exp_top10

             Women   Men
Hong Kong     87.6  81.8
Japan         87.5  81.3
Switzerland   85.5  81.7
Singapore     85.7  81.4
Italy         85.4  81.1
Spain         86.1  80.7
Australia     85.3  81.3
Iceland       84.4  81.3
Israel        84.4  81.1
South Korea   85.8  79.7

In [21]:
#2 tạo cột trung bình
life_exp_top10['Average']=(life_exp_top10['Women']+life_exp_top10['Men'])/2
life_exp_top10

             Women   Men  Average
Hong Kong     87.6  81.8    84.70
Japan         87.5  81.3    84.40
Switzerland   85.5  81.7    83.60
Singapore     85.7  81.4    83.55
Italy         85.4  81.1    83.25
Spain         86.1  80.7    83.40
Australia     85.3  81.3    83.30
Iceland       84.4  81.3    82.85
Israel        84.4  81.1    82.75
South Korea   85.8  79.7    82.75

In [22]:
#3 tạo cột rank
rank = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 9],index= men.keys())
life_exp_top10['Rank']=rank
life_exp_top10

             Women   Men  Average  Rank
Hong Kong     87.6  81.8    84.70     1
Japan         87.5  81.3    84.40     2
Switzerland   85.5  81.7    83.60     3
Singapore     85.7  81.4    83.55     4
Italy         85.4  81.1    83.25     5
Spain         86.1  80.7    83.40     6
Australia     85.3  81.3    83.30     7
Iceland       84.4  81.3    82.85     8
Israel        84.4  81.1    82.75     9
South Korea   85.8  79.7    82.75     9

In [23]:
#4 thêm dòng 
# new_row={'Women':84.4,'Men':80.9,'Average':(84.4+80.9)/2}
# life_exp_top10 = life_exp_top10.append(pd.DataFrame([new_row],index=['Sweden'],columns=life_exp_top10.columns))
# life_exp_top10

In [24]:
#4 theêm dòng
life_exp_top10.loc['Sweden']=[84.4,80.9,(84.4+80.9)/2,None]
life_exp_top10

             Women   Men  Average  Rank
Hong Kong     87.6  81.8    84.70   1.0
Japan         87.5  81.3    84.40   2.0
Switzerland   85.5  81.7    83.60   3.0
Singapore     85.7  81.4    83.55   4.0
Italy         85.4  81.1    83.25   5.0
Spain         86.1  80.7    83.40   6.0
Australia     85.3  81.3    83.30   7.0
Iceland       84.4  81.3    82.85   8.0
Israel        84.4  81.1    82.75   9.0
South Korea   85.8  79.7    82.75   9.0
Sweden        84.4  80.9    82.65   NaN

In [25]:
#update rank
life_exp_top10["Rank"] = life_exp_top10["Average"].rank(method='dense',ascending=False)
life_exp_top10

             Women   Men  Average  Rank
Hong Kong     87.6  81.8    84.70   1.0
Japan         87.5  81.3    84.40   2.0
Switzerland   85.5  81.7    83.60   3.0
Singapore     85.7  81.4    83.55   4.0
Italy         85.4  81.1    83.25   7.0
Spain         86.1  80.7    83.40   5.0
Australia     85.3  81.3    83.30   6.0
Iceland       84.4  81.3    82.85   8.0
Israel        84.4  81.1    82.75   9.0
South Korea   85.8  79.7    82.75   9.0
Sweden        84.4  80.9    82.65  10.0

In [26]:
#5 xóa dòng
life_exp_top10=life_exp_top10.drop('Italy')
life_exp_top10

             Women   Men  Average  Rank
Hong Kong     87.6  81.8    84.70   1.0
Japan         87.5  81.3    84.40   2.0
Switzerland   85.5  81.7    83.60   3.0
Singapore     85.7  81.4    83.55   4.0
Spain         86.1  80.7    83.40   5.0
Australia     85.3  81.3    83.30   6.0
Iceland       84.4  81.3    82.85   8.0
Israel        84.4  81.1    82.75   9.0
South Korea   85.8  79.7    82.75   9.0
Sweden        84.4  80.9    82.65  10.0

In [27]:
#6 xóa cột
life_exp_top10=life_exp_top10.drop(columns='Average') # thêm bỏ [] ksao
# life_exp_top10=life_exp_top10.drop('Average',axis=1)
life_exp_top10

             Women   Men  Rank
Hong Kong     87.6  81.8   1.0
Japan         87.5  81.3   2.0
Switzerland   85.5  81.7   3.0
Singapore     85.7  81.4   4.0
Spain         86.1  80.7   5.0
Australia     85.3  81.3   6.0
Iceland       84.4  81.3   8.0
Israel        84.4  81.1   9.0
South Korea   85.8  79.7   9.0
Sweden        84.4  80.9  10.0

In [28]:
#7 sắp xếp thứ tự cột
life_exp_top10['Average']=(life_exp_top10['Women']+life_exp_top10['Men'])/2
life_exp_top10 = life_exp_top10[['Average','Women','Men']]
life_exp_top10

             Average  Women   Men
Hong Kong      84.70   87.6  81.8
Japan          84.40   87.5  81.3
Switzerland    83.60   85.5  81.7
Singapore      83.55   85.7  81.4
Spain          83.40   86.1  80.7
Australia      83.30   85.3  81.3
Iceland        82.85   84.4  81.3
Israel         82.75   84.4  81.1
South Korea    82.75   85.8  79.7
Sweden         82.65   84.4  80.9

Pandas boolean masks data

In [29]:
import pandas as pd
df = pd.read_csv("D:\\Năm 3 - HK1\\Visualize\\Ex\\countries.csv",index_col='Country')

In [30]:
df

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [31]:
countries = pd.DataFrame(df)
countries

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [32]:
#2 select countries that %birth<%death
birth_vs_death = countries[countries['Birthrate']<countries['Deathrate']]
birth_vs_death

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Austria,WESTERN EUROPE,8192880,83870,97.7,0.00,2.00,4.66,30000.0,98.0,452.2,16.91,0.86,82.23,3.0,8.74,9.76,0.018,0.304,0.678
Belarus,C.W. OF IND. STATES,10293011,207600,49.6,0.00,2.54,13.37,6100.0,99.6,319.1,29.55,0.60,69.85,4.0,11.16,14.02,0.093,0.316,0.591
Botswana,SUB-SAHARAN AFRICA,1639833,600370,2.7,0.00,0.00,54.58,9000.0,79.8,80.5,0.65,0.01,99.34,1.0,23.08,29.50,0.024,0.469,0.507
Bulgaria,EASTERN EUROPE,7385367,110910,66.6,0.32,-4.58,20.55,7600.0,98.6,336.3,40.02,1.92,58.06,3.0,9.65,14.27,0.093,0.304,0.603
Croatia,EASTERN EUROPE,4494749,56542,79.5,10.32,1.58,6.84,10600.0,98.5,420.4,26.09,2.27,71.65,NaN,9.61,11.48,0.070,0.308,0.622
Czech Republic,EASTERN EUROPE,10235455,78866,129.8,0.00,0.97,3.93,15700.0,99.9,314.3,39.80,3.05,57.15,3.0,9.02,10.59,0.034,0.393,0.573
Estonia,BALTICS,1324333,45226,29.3,8.39,-3.16,7.87,12300.0,99.8,333.8,16.04,0.45,83.51,3.0,10.04,13.25,0.040,0.294,0.666
Germany,WESTERN EUROPE,82422299,357021,230.9,0.67,2.18,4.16,27600.0,99.0,667.9,33.85,0.59,65.56,3.0,8.25,10.62,0.009,0.296,0.695
Greece,WESTERN EUROPE,10688058,131940,81.0,10.37,2.35,5.53,20000.0,97.5,589.7,21.10,8.78,70.12,3.0,9.68,10.24,0.054,0.213,0.733
Guernsey,WESTERN EUROPE,65409,78,838.6,64.10,3.84,4.71,20000.0,NaN,842.4,NaN,NaN,NaN,3.0,8.81,10.01,0.030,0.100,0.870
Hungary,EASTERN EUROPE,9981334,93030,107.3,0.00,0.86,8.57,13900.0,99.4,336.2,50.09,2.06,47.85,3.0,9.72,13.11,0.037,0.312,0.651
Isle of Man,WESTERN EUROPE,75441,572,131.9,27.97,5.36,5.93,21000.0,NaN,676.0,9.00,0.00,91.00,3.0,11.05,11.19,0.010,0.130,0.860
Italy,WESTERN EUROPE,58133509,301230,193.0,2.52,2.07,5.94,26700.0,98.6,430.9,27.79,9.53,62.68,NaN,8.72,10.40,0.021,0.291,0.688
Latvia,BALTICS,2274735,64589,35.2,0.82,-2.23,9.55,10200.0,99.8,321.4,29.67,0.47,69.86,3.0,9.24,13.66,0.040,0.261,0.699
Lesotho,SUB-SAHARAN AFRICA,2022331,30355,66.6,0.00,-0.74,84.23,3000.0,84.8,23.7,10.87,0.13,89.00,3.0,24.75,28.71,0.163,0.443,0.394
Lithuania,BALTICS,3585906,65200,55.0,0.14,-0.71,6.89,11400.0,99.6,223.4,45.22,0.91,53.87,NaN,8.75,10.98,0.055,0.325,0.620
Monaco,WESTERN EUROPE,32543,2,16271.5,205.00,7.75,5.43,27000.0,99.0,1035.6,0.00,0.00,100.00,NaN,9.19,12.91,0.170,NaN,NaN
Poland,EASTERN EUROPE,38536869,312685,123.3,0.16,-0.49,8.51,11100.0,99.8,306.3,45.91,1.12,52.97,3.0,9.85,9.89,0.050,0.311,0.640
Romania,EASTERN EUROPE,22303552,237500,93.9,0.09,-0.13,26.43,7000.0,98.4,196.9,40.82,2.25,56.93,3.0,10.70,11.77,0.101,0.350,0.549
Russia,C.W. OF IND. STATES,142893540,17075200,8.4,0.22,1.02,15.39,8900.0,99.6,280.6,7.33,0.11,92.56,NaN,9.95,14.65,0.054,0.371,0.575
Slovenia,EASTERN EUROPE,2010347,20273,99.2,0.23,1.12,4.45,19000.0,99.7,406.1,8.60,1.49,89.91,NaN,8.98,10.31,0.028,0.369,0.603
South Africa,SUB-SAHARAN AFRICA,44187637,1219912,36.2,0.23,-0.29,61.81,10700.0,86.4,107.0,12.08,0.79,87.13,1.0,18.20,22.00,0.025,0.303,0.671
Swaziland,SUB-SAHARAN AFRICA,1136334,17363,65.5,0.00,0.00,69.27,4900.0,81.6,30.8,10.35,0.70,88.95,2.5,27.41,29.74,0.119,0.515,0.366
Sweden,WESTERN EUROPE,9016596,449964,20.0,0.72,1.67,2.77,26800.0,99.0,715.0,6.54,0.01,93.45,3.0,10.27,10.31,0.011,0.282,0.707
Ukraine,C.W. OF IND. STATES,46710816,603700,77.4,0.46,-0.39,20.34,5400.0,99.7,259.9,56.21,1.61,42.18,3.0,8.82,14.39,0.187,0.452,0.361

In [33]:
#3 select countries has literacy=100%
literacy_100=countries[countries['Literacy']==100]
literacy_100

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000.0,100.0,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
Denmark,WESTERN EUROPE,5450661,43094,126.5,16.97,2.48,4.56,31100.0,100.0,614.6,54.02,0.19,45.79,3.0,11.13,10.36,0.018,0.246,0.735
Finland,WESTERN EUROPE,5231372,338145,15.5,0.37,0.95,3.57,27400.0,100.0,405.3,7.19,0.03,92.78,3.0,10.45,9.86,0.028,0.295,0.676
Liechtenstein,WESTERN EUROPE,33987,160,212.4,0.00,4.85,4.70,25000.0,100.0,585.5,25.00,0.00,75.00,4.0,10.21,7.18,0.060,0.390,0.550
Luxembourg,WESTERN EUROPE,474413,2586,183.5,0.00,8.97,4.81,55100.0,100.0,515.4,23.28,0.40,76.32,NaN,11.94,8.41,0.010,0.130,0.860
Norway,WESTERN EUROPE,4610820,323802,14.2,7.77,1.74,3.70,37800.0,100.0,461.7,2.87,0.00,97.13,3.0,11.46,9.40,0.021,0.415,0.564

In [34]:
#4 select countries has GDP capital > average(mean) of GDP
above_average_gdp=countries[countries['GDP Capita']>countries['GDP Capita'].mean()]
above_average_gdp

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,156.0,34.54,-6.15,19.46,11000.0,89.0,549.9,18.18,4.55,77.27,2.0,16.93,5.37,0.038,0.220,0.743
Argentina,LATIN AMER. & CARIB,39921833,2766890,14.4,0.18,0.61,15.18,11200.0,97.1,220.4,12.31,0.48,87.21,3.0,16.73,7.55,0.095,0.358,0.547
Aruba,LATIN AMER. & CARIB,71891,193,372.5,35.49,0.00,5.89,28000.0,97.0,516.1,10.53,0.00,89.47,2.0,11.03,6.68,0.004,0.333,0.663
Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000.0,100.0,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Arab Emirates,NEAR EAST,2602713,82880,31.4,1.59,1.03,14.51,23200.0,77.9,475.3,0.60,2.25,97.15,1.0,18.96,4.40,0.040,0.585,0.375
United Kingdom,WESTERN EUROPE,60609153,244820,247.6,5.08,2.19,5.16,27700.0,99.0,543.5,23.46,0.21,76.33,3.0,10.71,10.13,0.005,0.237,0.758
United States,NORTHERN AMERICA,298444215,9631420,31.0,0.21,3.41,6.50,37800.0,97.0,898.0,19.13,0.22,80.65,3.0,14.14,8.26,0.010,0.204,0.787
Uruguay,LATIN AMER. & CARIB,3431932,176220,19.5,0.37,-0.32,11.95,12800.0,98.0,291.4,7.43,0.23,92.34,3.0,13.91,9.05,0.093,0.311,0.596
Virgin Islands,LATIN AMER. & CARIB,108605,1910,56.9,9.84,-8.94,8.03,17200.0,NaN,652.8,11.76,2.94,85.30,2.0,13.96,6.43,0.010,0.190,0.800

In [35]:
#5 select countries that Agri val> Ind val
agriculture_vs_industry=countries[countries['Agriculture']>countries['Industry']]
agriculture_vs_industry

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,1023.4,0.40,-0.71,62.60,1900.0,43.1,7.3,62.11,3.07,34.82,2.0,29.80,8.27,0.199,0.198,0.603
Benin,SUB-SAHARAN AFRICA,7862944,112620,69.8,0.11,0.00,85.00,1100.0,40.9,9.7,18.08,2.40,79.52,2.0,38.85,12.22,0.316,0.138,0.546
Burkina Faso,SUB-SAHARAN AFRICA,13902972,274200,50.7,0.00,0.00,97.57,1100.0,26.6,7.0,14.43,0.19,85.38,2.0,45.62,15.60,0.322,0.196,0.482
Burma,ASIA (EX. NEAR EAST),47382633,678500,69.8,0.28,-1.80,67.24,1800.0,85.3,10.1,15.19,0.97,83.84,2.0,17.91,9.83,0.564,0.082,0.353
Burundi,SUB-SAHARAN AFRICA,8090068,27830,290.7,0.00,-0.06,69.29,600.0,51.6,3.4,35.05,14.02,50.93,2.0,42.22,13.46,0.463,0.203,0.334
Cambodia,ASIA (EX. NEAR EAST),13881427,181040,76.7,0.24,0.00,71.48,1900.0,69.4,2.6,20.96,0.61,78.43,2.0,26.90,9.06,0.350,0.300,0.350
Cameroon,SUB-SAHARAN AFRICA,17340702,475440,36.5,0.08,0.00,68.26,1800.0,79.0,5.7,12.81,2.58,84.61,1.5,33.89,13.47,0.448,0.170,0.382
Central African Rep.,SUB-SAHARAN AFRICA,4303356,622984,6.9,0.00,0.00,91.00,1100.0,51.0,2.3,3.10,0.14,96.76,2.0,33.91,18.65,0.550,0.200,0.250
Chad,SUB-SAHARAN AFRICA,9944201,1284000,7.7,0.00,-0.11,93.82,1200.0,47.5,1.3,2.86,0.02,97.12,2.0,45.73,16.38,0.335,0.259,0.406
Comoros,SUB-SAHARAN AFRICA,690948,2170,318.4,15.67,0.00,74.93,700.0,56.5,24.5,35.87,23.32,40.81,2.0,36.93,8.20,0.400,0.040,0.560
"Congo, Dem. Rep.",SUB-SAHARAN AFRICA,62660551,2345410,26.7,0.00,0.00,94.69,700.0,65.5,0.2,2.96,0.52,96.52,2.0,43.69,13.27,0.550,0.110,0.340
Cook Islands,OCEANIA,21388,240,89.1,50.00,NaN,NaN,5000.0,95.0,289.9,17.39,13.04,69.57,2.0,21.00,NaN,0.151,0.096,0.753
Cote d'Ivoire,SUB-SAHARAN AFRICA,17654843,322460,54.8,0.16,-0.07,90.83,1400.0,50.9,14.6,9.75,13.84,76.41,2.0,35.11,14.84,0.279,0.171,0.550
Ethiopia,SUB-SAHARAN AFRICA,74777981,1127127,66.3,0.00,0.00,95.32,700.0,42.7,8.2,10.71,0.75,88.54,2.0,37.98,14.86,0.475,0.099,0.426
Faroe Islands,WESTERN EUROPE,47246,1399,33.8,79.84,1.41,6.24,22000.0,NaN,503.8,2.14,0.00,97.86,NaN,14.05,8.70,0.270,0.110,0.620
"Gambia, The",SUB-SAHARAN AFRICA,1641564,11300,145.3,0.71,1.57,72.02,1700.0,40.1,26.8,25.00,0.50,74.50,2.0,39.37,12.25,0.308,0.142,0.549
Ghana,SUB-SAHARAN AFRICA,22409572,239460,93.6,0.23,-0.64,51.43,2200.0,74.8,14.4,16.26,9.67,74.07,2.0,30.52,9.72,0.366,0.246,0.387
Guatemala,LATIN AMER. & CARIB,12293545,108890,112.9,0.37,-1.67,35.93,4100.0,70.6,92.1,12.54,5.03,82.43,2.0,29.88,5.20,0.227,0.188,0.585
Guinea-Bissau,SUB-SAHARAN AFRICA,1442029,36120,39.9,0.97,-1.57,107.17,800.0,42.4,7.4,10.67,8.82,80.51,2.0,37.22,16.53,0.620,0.120,0.260
Guyana,LATIN AMER. & CARIB,767245,214970,3.6,0.21,-2.07,33.26,4000.0,98.8,143.5,2.44,0.15,97.41,2.0,18.28,8.28,0.370,0.203,0.427
Haiti,LATIN AMER. & CARIB,8308504,27750,299.4,6.38,-3.40,73.45,1600.0,52.9,16.9,28.30,11.61,60.09,2.0,36.44,12.17,0.280,0.200,0.520
Jersey,WESTERN EUROPE,91084,116,785.2,60.34,2.76,5.24,24800.0,NaN,811.3,0.00,0.00,100.00,3.0,9.30,9.28,0.050,0.020,0.930
Kyrgyzstan,C.W. OF IND. STATES,5213898,198500,26.3,0.00,-2.45,35.64,1600.0,97.0,84.0,7.30,0.35,92.35,2.5,22.80,7.08,0.353,0.208,0.439
Laos,ASIA (EX. NEAR EAST),6368481,236800,26.9,0.00,0.00,85.22,1700.0,66.4,14.1,3.80,0.35,95.85,2.0,35.49,11.55,0.455,0.287,0.258
Liberia,SUB-SAHARAN AFRICA,3042004,111370,27.3,0.52,0.00,128.87,1000.0,57.5,2.3,3.95,2.28,93.77,2.0,44.77,23.10,0.769,0.054,0.177
Madagascar,SUB-SAHARAN AFRICA,18595469,587040,31.7,0.82,0.00,76.83,800.0,68.9,3.6,5.07,1.03,93.91,2.0,41.41,11.11,0.276,0.165,0.559
Malawi,SUB-SAHARAN AFRICA,13013926,118480,109.8,0.00,0.00,103.32,600.0,62.7,7.9,23.38,1.49,75.13,2.0,43.13,19.33,0.342,0.158,0.499
Maldives,ASIA (EX. NEAR EAST),359008,300,1196.7,214.67,0.00,56.52,3900.0,97.2,90.0,13.33,16.67,70.00,2.0,34.81,7.06,0.200,0.180,0.620
Mali,SUB-SAHARAN AFRICA,11716829,1240000,9.5,0.00,-0.33,116.79,900.0,46.4,6.4,3.82,0.03,96.15,2.0,49.82,16.89,0.450,0.170,0.380
Marshall Islands,OCEANIA,60422,11854,5.1,3.12,-6.04,29.45,1600.0,93.7,91.2,16.67,38.89,44.44,2.0,33.05,4.78,0.317,0.149,0.534
"Micronesia, Fed. St.",OCEANIA,108004,702,153.9,870.66,-20.99,30.21,2000.0,89.0,114.8,5.71,45.71,48.58,2.0,24.68,4.75,0.289,0.152,0.559
Nepal,ASIA (EX. NEAR EAST),28287147,147181,192.2,0.00,0.00,66.98,1400.0,45.2,15.9,21.68,0.64,77.68,NaN,30.98,9.31,0.380,0.210,0.410
New Caledonia,OCEANIA,219246,19060,11.5,11.83,0.00,7.72,15000.0,91.0,252.2,0.38,0.33,99.29,2.0,18.11,5.69,0.150,0.088,0.762
Niger,SUB-SAHARAN AFRICA,12525094,1267000,9.9,0.00,-0.67,121.69,800.0,17.6,1.9,3.54,0.01,96.45,1.0,50.73,20.91,0.390,0.170,0.440
Paraguay,LATIN AMER. & CARIB,6506464,406750,16.0,0.00,-0.08,25.63,4700.0,94.0,49.2,7.60,0.23,92.17,2.0,29.10,4.49,0.224,0.207,0.569
Rwanda,SUB-SAHARAN AFRICA,8648248,26338,328.4,0.00,0.00,91.23,1300.0,70.4,2.7,40.54,12.16,47.30,3.0,40.37,16.09,0.401,0.229,0.370
Sao Tome & Principe,SUB-SAHARAN AFRICA,193413,1001,193.2,20.88,-2.72,43.11,1200.0,79.3,36.2,6.25,48.96,44.79,2.0,40.25,6.47,0.167,0.148,0.684
Sierra Leone,SUB-SAHARAN AFRICA,6005250,71740,83.7,0.56,0.00,143.64,500.0,31.4,4.0,6.98,0.89,92.13,2.0,45.76,23.03,0.490,0.310,0.210
Solomon Islands,OCEANIA,552438,28450,19.4,18.67,0.00,21.29,1700.0,NaN,13.4,0.64,2.00,97.36,2.0,30.01,3.92,0.420,0.110,0.470
Somalia,SUB-SAHARAN AFRICA,8863338,637657,13.9,0.47,5.37,116.70,500.0,37.8,11.3,1.67,0.04,98.29,1.0,45.13,16.63,0.650,0.100,0.250
Sudan,SUB-SAHARAN AFRICA,41236378,2505810,16.5,0.03,-0.02,62.50,1900.0,61.1,16.3,6.83,0.18,92.99,2.0,34.53,8.97,0.387,0.203,0.410
Syria,NEAR EAST,18881361,185180,102.0,0.10,0.00,29.53,3300.0,76.9,153.8,25.22,4.43,70.35,1.0,27.76,4.81,0.249,0.230,0.519
Tanzania,SUB-SAHARAN AFRICA,37445392,945087,39.6,0.15,-2.06,98.54,600.0,78.2,4.0,4.52,1.08,94.40,NaN,37.71,16.39,0.432,0.172,0.396
Togo,SUB-SAHARAN AFRICA,5548702,56785,97.7,0.10,0.00,66.61,1500.0,60.9,10.6,46.15,2.21,51.64,2.0,37.01,9.83,0.395,0.204,0.401
Uganda,SUB-SAHARAN AFRICA,28195754,236040,119.5,0.00,0.00,67.83,1400.0,69.9,3.6,25.88,10.65,63.47,2.0,47.35,12.24,0.311,0.222,0.469
Uzbekistan,C.W. OF IND. STATES,27307134,447400,61.0,0.00,-1.72,71.10,1700.0,99.3,62.9,10.83,0.83,88.34,1.0,26.36,7.84,0.342,0.229,0.430
Vanuatu,OCEANIA,208869,12200,17.1,20.72,0.00,55.16,2900.0,53.0,32.6,2.46,7.38,90.16,2.0,22.72,7.82,0.260,0.120,0.620

In [36]:
#6 select countries with pop density >= 10000
high_density=countries[countries['Pop Density']>=10000]
high_density

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Macau,ASIA (EX. NEAR EAST),453125,28,16183.0,146.43,4.86,4.39,19400.0,94.5,384.9,0.0,0.0,100.0,2.0,8.48,4.47,0.001,0.072,0.927
Monaco,WESTERN EUROPE,32543,2,16271.5,205.00,7.75,5.43,27000.0,99.0,1035.6,0.0,0.0,100.0,NaN,9.19,12.91,0.170,NaN,NaN

In [37]:
#7 select the highest/lowest pop density country
lowest_density=countries[countries['Pop Density']==countries['Pop Density'].min()]
lowest_density

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Greenland,NORTHERN AMERICA,56361,2166086,0.0,2.04,-8.37,15.82,20000.0,NaN,448.9,0.0,0.0,100.0,1.0,15.93,7.84,NaN,NaN,NaN

In [38]:
highest_density=countries[countries['Pop Density']==countries['Pop Density'].max()]
highest_density

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Monaco,WESTERN EUROPE,32543,2,16271.5,205.0,7.75,5.43,27000.0,99.0,1035.6,0.0,0.0,100.0,NaN,9.19,12.91,0.17,NaN,NaN

In [39]:
#8 count countries have higher pop density than Portugal
# Portugal_pd=countries[countries['Country']=='Portugal']['Pop Density']
# lower_denssity_pt=countries[countries['Pop Density']>float(Portugal_pd)]
# lower_denssity_pt_count=lower_denssity_pt['Country'].count()
# lower_denssity_pt_count
lower_denssity_pt_count=(countries[countries['Pop Density']<countries['Pop Density']['Portugal']])
len(lower_denssity_pt_count.index)
lower_denssity_pt_count.shape[0]

142

In [40]:
#9 count countries have more coastline than Singapore
S_cl=countries['Coastline'][countries.index=='Singapore']
bigger_coastline_singapore=countries[countries['Coastline']>float(S_cl)]
# bigger_coastline_singapore_count=bigger_coastline_singapore['Country'].count()
len(bigger_coastline_singapore.index)
# bigger_coastline_singapore.shape[0]

36

In [41]:
#10 select using (&)
import numpy as np
my_selection = countries[(countries['Population']>=np.power(10,8)) & (countries['Area']<= np.power(10,6))]
my_selection

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,1023.4,0.40,-0.71,62.60,1900.0,43.1,7.3,62.11,3.07,34.82,2.0,29.80,8.27,0.199,0.198,0.603
Japan,ASIA (EX. NEAR EAST),127463611,377835,337.4,7.87,0.00,3.26,28200.0,99.0,461.2,12.19,0.96,86.85,3.0,9.37,9.16,0.017,0.258,0.725
Nigeria,SUB-SAHARAN AFRICA,131859731,923768,142.7,0.09,0.26,98.80,900.0,68.0,9.3,31.29,2.96,65.75,1.5,40.43,16.94,0.269,0.487,0.244
Pakistan,ASIA (EX. NEAR EAST),165803560,803940,206.2,0.13,-2.77,72.44,2100.0,45.7,31.8,27.87,0.87,71.26,1.0,29.74,8.23,0.216,0.251,0.533

In [42]:
#11 select using (|)
my_selection2=countries[(countries['Infant Mortality']<4.0) | (countries['Birthrate']>45.0)]
my_selection2

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096,0.658,0.246
Burkina Faso,SUB-SAHARAN AFRICA,13902972,274200,50.7,0.00,0.00,97.57,1100.0,26.6,7.0,14.43,0.19,85.38,2.0,45.62,15.60,0.322,0.196,0.482
Chad,SUB-SAHARAN AFRICA,9944201,1284000,7.7,0.00,-0.11,93.82,1200.0,47.5,1.3,2.86,0.02,97.12,2.0,45.73,16.38,0.335,0.259,0.406
Czech Republic,EASTERN EUROPE,10235455,78866,129.8,0.00,0.97,3.93,15700.0,99.9,314.3,39.80,3.05,57.15,3.0,9.02,10.59,0.034,0.393,0.573
Finland,WESTERN EUROPE,5231372,338145,15.5,0.37,0.95,3.57,27400.0,100.0,405.3,7.19,0.03,92.78,3.0,10.45,9.86,0.028,0.295,0.676
Hong Kong,ASIA (EX. NEAR EAST),6940432,1092,6355.7,67.12,5.24,2.97,28800.0,93.5,546.7,5.05,1.01,93.94,2.0,7.29,6.29,0.001,0.092,0.906
Iceland,WESTERN EUROPE,299388,103000,2.9,4.83,2.38,3.31,30900.0,99.9,647.7,0.07,0.00,99.93,3.0,13.64,6.72,0.086,0.150,0.765
Japan,ASIA (EX. NEAR EAST),127463611,377835,337.4,7.87,0.00,3.26,28200.0,99.0,461.2,12.19,0.96,86.85,3.0,9.37,9.16,0.017,0.258,0.725
Mali,SUB-SAHARAN AFRICA,11716829,1240000,9.5,0.00,-0.33,116.79,900.0,46.4,6.4,3.82,0.03,96.15,2.0,49.82,16.89,0.450,0.170,0.380
Malta,WESTERN EUROPE,400214,316,1266.5,62.28,2.07,3.89,17700.0,92.8,505.0,28.13,3.13,68.74,NaN,10.22,8.10,0.030,0.230,0.740
Niger,SUB-SAHARAN AFRICA,12525094,1267000,9.9,0.00,-0.67,121.69,800.0,17.6,1.9,3.54,0.01,96.45,1.0,50.73,20.91,0.390,0.170,0.440
Norway,WESTERN EUROPE,4610820,323802,14.2,7.77,1.74,3.70,37800.0,100.0,461.7,2.87,0.00,97.13,3.0,11.46,9.40,0.021,0.415,0.564
Sierra Leone,SUB-SAHARAN AFRICA,6005250,71740,83.7,0.56,0.00,143.64,500.0,31.4,4.0,6.98,0.89,92.13,2.0,45.76,23.03,0.490,0.310,0.210
Singapore,ASIA (EX. NEAR EAST),4492150,693,6482.2,27.85,11.53,2.29,23700.0,92.5,411.4,1.64,0.00,98.36,2.0,9.34,4.28,0.000,0.339,0.661
Somalia,SUB-SAHARAN AFRICA,8863338,637657,13.9,0.47,5.37,116.70,500.0,37.8,11.3,1.67,0.04,98.29,1.0,45.13,16.63,0.650,0.100,0.250
Sweden,WESTERN EUROPE,9016596,449964,20.0,0.72,1.67,2.77,26800.0,99.0,715.0,6.54,0.01,93.45,3.0,10.27,10.31,0.011,0.282,0.707
Uganda,SUB-SAHARAN AFRICA,28195754,236040,119.5,0.00,0.00,67.83,1400.0,69.9,3.6,25.88,10.65,63.47,2.0,47.35,12.24,0.311,0.222,0.469

In [43]:
#12 select using(|,&,~)
my_selection3=countries[(~(countries['Coastline']==0) & (countries['Migration']==0)) | ((countries['Coastline']==0) &~(countries['Migration']==0))]
my_selection3

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096,0.658,0.246
Armenia,C.W. OF IND. STATES,2976372,29800,99.9,0.00,-6.47,23.28,3500.0,98.6,195.7,17.55,2.30,80.15,4.0,12.07,8.23,0.239,0.343,0.418
Aruba,LATIN AMER. & CARIB,71891,193,372.5,35.49,0.00,5.89,28000.0,97.0,516.1,10.53,0.00,89.47,2.0,11.03,6.68,0.004,0.333,0.663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tuvalu,OCEANIA,11810,26,454.2,92.31,0.00,20.03,1100.0,NaN,59.3,0.00,0.00,100.00,2.0,22.18,7.11,0.166,0.272,0.562
Uzbekistan,C.W. OF IND. STATES,27307134,447400,61.0,0.00,-1.72,71.10,1700.0,99.3,62.9,10.83,0.83,88.34,1.0,26.36,7.84,0.342,0.229,0.430
Vanuatu,OCEANIA,208869,12200,17.1,20.72,0.00,55.16,2900.0,53.0,32.6,2.46,7.38,90.16,2.0,22.72,7.82,0.260,0.120,0.620
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393

In [44]:
my_selection33=countries[((countries['Coastline']==0) ^ (countries['Migration']==0))]
my_selection33

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096,0.658,0.246
Armenia,C.W. OF IND. STATES,2976372,29800,99.9,0.00,-6.47,23.28,3500.0,98.6,195.7,17.55,2.30,80.15,4.0,12.07,8.23,0.239,0.343,0.418
Aruba,LATIN AMER. & CARIB,71891,193,372.5,35.49,0.00,5.89,28000.0,97.0,516.1,10.53,0.00,89.47,2.0,11.03,6.68,0.004,0.333,0.663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tuvalu,OCEANIA,11810,26,454.2,92.31,0.00,20.03,1100.0,NaN,59.3,0.00,0.00,100.00,2.0,22.18,7.11,0.166,0.272,0.562
Uzbekistan,C.W. OF IND. STATES,27307134,447400,61.0,0.00,-1.72,71.10,1700.0,99.3,62.9,10.83,0.83,88.34,1.0,26.36,7.84,0.342,0.229,0.430
Vanuatu,OCEANIA,208869,12200,17.1,20.72,0.00,55.16,2900.0,53.0,32.6,2.46,7.38,90.16,2.0,22.72,7.82,0.260,0.120,0.620
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393

In [45]:
my_selection3==my_selection33

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
Andorra,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
Angola,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True
Armenia,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
Aruba,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tuvalu,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True
Uzbekistan,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
Vanuatu,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
West Bank,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True
Yemen,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [46]:
#14 
my_selection4 = countries[['Population','Area']][(countries['Region'].isin(['OCEANIA','BALTICS'])) & (countries['Coastline']<=1.0)]
my_selection4

           Population     Area
Country
Australia    20264082  7686850
Latvia        2274735    64589
Lithuania     3585906    65200

In [47]:
#15
my_selection5=countries[['Coastline','Crops','Climate']][~(countries['Region'].isin(['WESTERN EUROPE','EASTERN EUROPE'])) & (countries['Arable']>50.0)]
my_selection5

            Coastline  Crops  Climate
Country
Bangladesh       0.40   3.07      2.0
India            0.21   2.74      2.5
Moldova          0.00  10.79      NaN
Ukraine          0.46   1.61      3.0

In [48]:
#15
my_selection5=countries[['Coastline','Crops','Climate']][~(countries['Region'].isin(['WESTERN EUROPE','EASTERN EUROPE'])) & (countries['Arable']>50.0)]
my_selection5

            Coastline  Crops  Climate
Country
Bangladesh       0.40   3.07      2.0
India            0.21   2.74      2.5
Moldova          0.00  10.79      NaN
Ukraine          0.46   1.61      3.0

In [49]:
df.loc[:,'Region']

Country
Afghanistan       ASIA (EX. NEAR EAST)
Albania                 EASTERN EUROPE
Algeria                NORTHERN AFRICA
American Samoa                 OCEANIA
Andorra                 WESTERN EUROPE
                          ...
West Bank                    NEAR EAST
Western Sahara         NORTHERN AFRICA
Yemen                        NEAR EAST
Zambia              SUB-SAHARAN AFRICA
Zimbabwe            SUB-SAHARAN AFRICA
Name: Region, Length: 227, dtype: object

In [50]:
#that đổi giá trị trên axis
def clean_InvoiceNo(InvoiceNo):    
    if InvoiceNo[:4] == 'ASIA':
        return InvoiceNo.replace(InvoiceNo[:4], 'ADUC')
    else:
        return InvoiceNo
df['Region'] = df['Region'].apply(clean_InvoiceNo)

In [51]:
df

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ADUC (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [52]:
g=df.mode() #giá trị xuất hiện nhiều nhất
g

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,SUB-SAHARAN AFRICA,7026,102.0,2.7,0.0,0.0,9.95,800.0,99.0,2.3,0.0,0.0,100.0,2.0,12.56,3.92,0.01,0.11,0.684
1,NaN,7502,NaN,13.8,NaN,NaN,NaN,NaN,NaN,2.7,NaN,NaN,NaN,NaN,18.02,5.28,NaN,0.17,NaN
2,NaN,9439,NaN,49.6,NaN,NaN,NaN,NaN,NaN,3.6,NaN,NaN,NaN,NaN,18.79,5.37,NaN,NaN,NaN
3,NaN,11810,NaN,66.6,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,20.48,5.58,NaN,NaN,NaN
4,NaN,13287,NaN,69.8,NaN,NaN,NaN,NaN,NaN,7.9,NaN,NaN,NaN,NaN,NaN,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,NaN,188078227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,245452739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,298444215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,1095351995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,1313973713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
g.iloc[0]

Region              SUB-SAHARAN AFRICA
Population                        7026
Area                             102.0
Pop Density                        2.7
Coastline                          0.0
Migration                          0.0
Infant Mortality                  9.95
GDP Capita                       800.0
Literacy                          99.0
Phones                             2.3
Arable                             0.0
Crops                              0.0
Other                            100.0
Climate                            2.0
Birthrate                        12.56
Deathrate                         3.92
Agriculture                       0.01
Industry                          0.11
Service                          0.684
Name: 0, dtype: object

In [54]:
(df['Region']=='SUB-SAHARAN AFRICA').sum()

51

In [55]:
(df['Coastline']==float(0)).sum()

44

In [56]:
(df['Migration']==float(0)).sum()

62

In [57]:
#Clean below avg
# df = df[df['???']> avg]

In [58]:
df3=df.copy()
df3

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ADUC (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [59]:
df3.reset_index(inplace=True)
df3

,Country,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ADUC (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [60]:
df3=df3.drop('Country',axis=1)
df3

,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,ADUC (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [61]:
f=df3.groupby(['Region']).nunique()

In [62]:
f

,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Region,,,,,,,,,,,,,,,,,,
ADUC (EX. NEAR EAST),28,28,28,23,15,28,25,26,27,28,26,28,5,28,28,26,27,26
BALTICS,3,3,3,3,3,3,3,2,3,3,3,3,1,3,3,2,3,3
C.W. OF IND. STATES,12,12,12,4,12,12,12,10,12,12,12,12,5,12,12,12,12,12
EASTERN EUROPE,12,12,12,8,12,12,12,9,12,12,12,12,2,11,11,12,11,10
LATIN AMER. & CARIB,45,44,45,43,41,45,40,34,44,44,38,44,3,43,44,36,38,40
NEAR EAST,16,16,16,16,12,16,15,14,15,16,16,16,2,16,16,15,16,16
NORTHERN AFRICA,6,6,6,6,5,5,4,5,5,6,6,6,2,5,5,5,4,6
NORTHERN AMERICA,5,5,5,5,5,5,5,3,5,5,3,5,3,5,5,2,3,3
OCEANIA,21,21,21,21,11,18,19,14,21,20,19,20,3,20,19,15,15,16
SUB-SAHARAN AFRICA,51,51,51,33,24,51,29,50,44,50,40,50,5,51,50,46,45,46
WESTERN EUROPE,28,28,28,23,27,28,25,10,28,24,16,24,2,28,28,18,22,23

In [63]:
f.iloc[:,0]

Region
ADUC (EX. NEAR EAST)    28
BALTICS                  3
C.W. OF IND. STATES     12
EASTERN EUROPE          12
LATIN AMER. & CARIB     45
NEAR EAST               16
NORTHERN AFRICA          6
NORTHERN AMERICA         5
OCEANIA                 21
SUB-SAHARAN AFRICA      51
WESTERN EUROPE          28
Name: Population, dtype: int64

In [64]:
f.index

Index(['ADUC (EX. NEAR EAST)', 'BALTICS', 'C.W. OF IND. STATES',
       'EASTERN EUROPE', 'LATIN AMER. & CARIB', 'NEAR EAST', 'NORTHERN AFRICA',
       'NORTHERN AMERICA', 'OCEANIA', 'SUB-SAHARAN AFRICA', 'WESTERN EUROPE'],
      dtype='object', name='Region')

In [65]:
f.columns

Index(['Population', 'Area', 'Pop Density', 'Coastline', 'Migration',
       'Infant Mortality', 'GDP Capita', 'Literacy', 'Phones', 'Arable',
       'Crops', 'Other', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture',
       'Industry', 'Service'],
      dtype='object')

In [66]:
f.iloc[:,0].sum()

227

In [67]:
k=df.groupby('Region').nunique()
k.unstack()

            Region
Population  ADUC (EX. NEAR EAST)    28
            BALTICS                  3
            C.W. OF IND. STATES     12
            EASTERN EUROPE          12
            LATIN AMER. & CARIB     45
                                    ..
Service     NORTHERN AFRICA          6
            NORTHERN AMERICA         3
            OCEANIA                 16
            SUB-SAHARAN AFRICA      46
            WESTERN EUROPE          23
Length: 198, dtype: int64

In [68]:
f

,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Region,,,,,,,,,,,,,,,,,,
ADUC (EX. NEAR EAST),28,28,28,23,15,28,25,26,27,28,26,28,5,28,28,26,27,26
BALTICS,3,3,3,3,3,3,3,2,3,3,3,3,1,3,3,2,3,3
C.W. OF IND. STATES,12,12,12,4,12,12,12,10,12,12,12,12,5,12,12,12,12,12
EASTERN EUROPE,12,12,12,8,12,12,12,9,12,12,12,12,2,11,11,12,11,10
LATIN AMER. & CARIB,45,44,45,43,41,45,40,34,44,44,38,44,3,43,44,36,38,40
NEAR EAST,16,16,16,16,12,16,15,14,15,16,16,16,2,16,16,15,16,16
NORTHERN AFRICA,6,6,6,6,5,5,4,5,5,6,6,6,2,5,5,5,4,6
NORTHERN AMERICA,5,5,5,5,5,5,5,3,5,5,3,5,3,5,5,2,3,3
OCEANIA,21,21,21,21,11,18,19,14,21,20,19,20,3,20,19,15,15,16
SUB-SAHARAN AFRICA,51,51,51,33,24,51,29,50,44,50,40,50,5,51,50,46,45,46
WESTERN EUROPE,28,28,28,23,27,28,25,10,28,24,16,24,2,28,28,18,22,23

In [69]:
f.sort_values(by =['Pop Density'],ascending=False).head()

,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Region,,,,,,,,,,,,,,,,,,
SUB-SAHARAN AFRICA,51,51,51,33,24,51,29,50,44,50,40,50,5,51,50,46,45,46
LATIN AMER. & CARIB,45,44,45,43,41,45,40,34,44,44,38,44,3,43,44,36,38,40
ADUC (EX. NEAR EAST),28,28,28,23,15,28,25,26,27,28,26,28,5,28,28,26,27,26
WESTERN EUROPE,28,28,28,23,27,28,25,10,28,24,16,24,2,28,28,18,22,23
OCEANIA,21,21,21,21,11,18,19,14,21,20,19,20,3,20,19,15,15,16